.button{
    -fx-font-size:50px;
    -fx-border-radius:5px;
    -fx-font-family:'Courier New', monospace;
}
.anchor{
    -fx-font-family: 'Courier New', monospace;
}
#header{
    -fx-text-fill:black;
    -fx-font-size:15px;
    -fx-font-weight:bold;
    -fx-font-family: 'Courier New', monospace;
}